# Python
__pycache__
*.pyc
.coverage
*.DS_Store
htmlcov/
.vscode/

# CONTRIB
contrib/unit/moosetools-unit
contrib/hit/hit
contrib/hit/hit.*
contrib/**/.libs
contrib/**/*.o
contrib/**/*.la
contrib/**/*.lo
contrib/**/*.so
contrib/**/*.o.*
contrib/**/*.la.*
contrib/**/*.lo.*
contrib/**/*.so.*

# Emacs
*.~*~
**/*.*.~*~
