# Python
__pycache__
*.pyc
.coverage
*.DS_Store
htmlcov/
.vscode/

# CONTRIB
contrib/hit/hit
contrib/hit/hit.*
contrib/gtest/.libs
contrib/**/*.o
contrib/unit/moosetools-unit

# Emacs
*.~*~
**/*.*.~*~
